<%- include('../partials/header.ejs') %>

<div style="display: flex; align-items: center; position: fixed; inset: 0;">
    <div class="container" style="margin-bottom: 10%;">
        <h1 style="text-align: center;">
            <img alt="Equestria.dev Search" src="https://equestria.dev/assets/brand/Wordmark/Coloured/WordmarkColoured.svg" style="height: 96px;">
        </h1>

        <form action="/">
            <input autofocus autocomplete="off" class="form-control" placeholder="Search the web..." name="q" style="max-width: 640px; margin-left: auto; margin-right: auto; margin-top: 50px;">
        </form>
    </div>
</div>

<%- include('../partials/footer.ejs') %>